body{
  background: green;
}

img{
  display: block;
  width: 100%;

}
section{
  margin: 0px;
}
#titulo{
  font-family: 'McLaren', cursive;
  color: white;
}
#botones{
  position: relative;
  display: flex;
  justify-content: center;
}
/*button{
  margin-left: 5px;
  margin-right: 5px;
}*/

footer form{
  background: rgba(14, 103, 30, 1);
  box-sizing: border-box;

}
