#menu{
  background-color: white;
  border-bottom: 2px solid green;
  padding: 10px;
  margin: 0!important;
  width: 100%;
  margin-top: 5px;
}

#menu ul{
  display: flex;
  justify-content: flex-end;
}

#menu li {
  display: inline;
}

#menu li a {
  color: black;
  text-decoration: none;
}


#menu li ul {
				display:none;
				position:absolute;

			}

#menu li:hover > ul {
				display:block;
        position: relative;
}

#menu li :hover {
   padding: 10px;
   background: green;
   color: white;
 }
