html{
  overflow-x: hidden;
  overflow-y: scroll;
}
body,html{
  margin: 0;
  width: 100%;
  padding: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 20rem;    /* Footer height */
}

.usuario-imagen{
  width: 100%;
  margin-top: 10px;
}
/* ESTILO FOOTER */
#footer, footer{
  background-color: rgba(14, 103, 30, 1);
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 20rem;

}
#footer p{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

#footer input {
  width: 100%;
}

#footer textarea{
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton{
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

#boton:hover{
  background-color:#2f9045;
  border-color:#2f9045;
  cursor: pointer;
}
