body{
  background-color: green;
  margin: 0;
  padding: 0;
}

#juego{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
}
#juego p{
  font-size: 25px;
}
#tematica{

  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
}
#tematica p{
  font-size: 25px;
}
#preguntas{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
  font-size: 25px;

}
#participacion{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
}

#participacion h3{
  font-size: 30px;
}
#participacion p{
  font-size: 30px;
}
#conciencia{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
  font-size: 25px;
}
#sugerir{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
  font-size: 25px;
}
#puntos{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
  font-size: 25px;
}
#amigos{
  background: rgba(255,255,255,0.5);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 80px;
  font-size: 25px;
}


form{
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;

}
#textform{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

textarea{
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
#boton{
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

#boton:hover{
  background-color:#2f9045;
  border-color:#2f9045;
  cursor: pointer;
}
