body {
  background-color: green;
 }
 #menu {
   background-color: white;
 }
#menu ul{
  display:flex;
  justify-content: flex-end;
}
#menu li{
  display:inline;
  padding:20px;
}
#menu li a{
  color:black;
  text-decoration: none;
}
#menu li hover{
  padding:inherit;
  background:white;
  color:white;
}
.cronometro {
background-color: white;
width: 15%;
margin-top: 0;
height: 10vh;
border-radius: 20px;
margin:0;

}
.preguntas {
position:absolute;
left:15%;
background-color:white;
width: 60%;
height: 35vh;
border-style: outset;
border-color: grey;
border-radius: 20px;
border-width: 2px;
text-align: center;

}
h1{

  position: absolute;
  top: 50%;
    -ms-transform: translateY(-50%);
  transform: translateY(-50%);
font-family: inherit;
color:black;
 font-size: 30px;
}

h2{
      position: absolute;
    top: 50%;
      -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  font-family: inherit;
  color:black;
  font-size: 20px;
}

.respuesta1 {
background-color: white;
  position: absolute;
  top: 60%;
  width: 30%;
  height: 11.5vh;
  border-style: outset;
  border-color: grey;
  border-radius: 20px;
  border-width: 2px;
  left:15%;
}

.respuesta2 {
background-color: white;
  position: absolute;
  top: 60%;
  width: 30%;
  height: 11.5vh;
  border-style: outset;
  border-color: grey;
  border-radius: 20px;
  border-width: 2px;
  left:50%;
}

.respuesta3{
  background-color: white;
    position: absolute;
    top: 75%;
    width: 30%;
    height: 11.5vh;
    border-style: outset;
    border-color: grey;
    border-radius: 20px;
    border-width: 2px;
    left:15%;
}
.respuesta4 {
background-color: white;
  position: absolute;
  top: 75%;
  width: 30%;
  height: 11.5vh;
  border-style: outset;
  border-color: grey;
  border-radius: 20px;
  border-width: 2px;
  left:50%;
}
}

}
